@media screen and (max-width: 768px) {
	body {
    background-color: lightblue;
    }
    
  footer {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
   }

   main {
    padding-bottom: 0;
    margin: 0;
  }
   

   .login {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5rem 0.1rem;
    padding-top: 1rem;
    background-color: lightgoldenrodyellow;
    border-radius: 10%;
    height: 400px;
    font-size: 75%;
  }

  .login-form input {
    margin: 0.3rem;
  }
  
  .login-form p {
    margin-top: 3rem; 
  }

  #menu {
    padding-top: 14.6rem;
    padding: 0 1.5rem;
    background-color: darkcyan;
    align-items: center;
    text-align: center;
    
  }

  .title {
    z-index: 1;
    margin: 15% 0 0 0;
    padding: 0;
    width: 100%;
  }

.topPart h1 {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.topPart p {
  font-size: 18px;
  margin: 5px 0 0 0;
  padding: 0 5px;
}

.paragraph {
  margin: 0;
  padding: 20px;
}

  .recipe-full-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin: 5px;
  }


  .recipe-full-list div{
    align-items: center;
    text-align: center;
    margin: 5px 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10%;
    min-width: 75%;
  }

  /* start OF FAQ STYLING*/
.main-configuration {
  margin: 0%;
}

.faq-buttons{
  margin-top: 20%;
  padding: 0;
  color: darkcyan;
  text-decoration: none;
  width: 100%;
}

.section-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.card{
  margin-top:10px;
	background-color: lightgoldenrodyellow;	
  }

  .btn {
	  text-decoration: none;
	  color: darkcyan;
	  font-weight: bolder;
  }

  .btn:hover {
	  font-size: 105%;
	  background-color: darkcyan;
	  text-decoration: none;
	  color: lightgoldenrodyellow;
  }

/* END OF faq STYLING*/

/* START OF BLOG STYLING*/
.blog-entries {
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
}

.blog-entries article {
	background-color: lightgoldenrodyellow;
	border-radius: 0;
	padding: 0;
	margin-top: 2rem;
	font-size: 18px;
}


/* END OF BLOG STYLING*/


/* Hide Hamburger */
#hamnav label, #hamburger { 
  display: none; 
}

#hamitems { 
  display: flex;
}

  #hamnav {
    width: 100%;
    background: darkcyan;
    position: fixed;
    top: 0;
    z-index: 12;
  }

  #hamnav label { 
    display: inline-block; 
    color: white;
    background:blueviolet;
    border-radius: 20%;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }


  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 2px dotted ;
    font-weight: 500;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  #hamitems a:hover {
    background-color: blueviolet;
    color: white;
    font-weight: 900;
    transition: 0.7s;
  }

  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
  .navBar { visibility: hidden; }
}
