@media screen and (max-width: 455px) {
	body {
    background-color: lightblue;
    }
    
  footer {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
   }
   

   .login {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5rem 0.1rem;
    padding-top: 1rem;
    background-color: lightgoldenrodyellow;
    border-radius: 10%;
    height: 400px;
    font-size: 75%;
  }

  #menu {
    padding-top: 14.6rem;
    padding: 0 1.5rem;
    background-color: darkcyan;
    align-items: center;
    text-align: center;
    
  }


/* Hide Hamburger */
#hamnav label, #hamburger { 
  display: none; 
}

#hamitems { 
  display: flex;
}

  #hamnav {
    width: 100%;
    background: darkcyan;
    position: fixed;
    z-index: 1;
    top: 0;
  }

  #hamnav label { 
    display: inline-block; 
    color: white;
    background:blueviolet;
    border-radius: 20%;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }


  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px groove ;
    font-weight: 500;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  #hamitems a:hover {
    background-color: blueviolet;
    color: white;
    font-weight: 900;
    transition: 0.8s;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
  .navBar { visibility: hidden; }
}

