/*BEGINNING OF THE STYLE RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF THE STYLE RESET*/

body {
    color:black;
	font-family: 'Source Code Pro', monospace;
}

.paragraph {
	font-size: 16px;

}

.navBar {
	background-color: darkcyan;
	color: white;
	font-weight: bold;
	display: flex;
	position: relative;
	background-size: 100%;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 18px #8888888f;
	clear: both;
}

#menu li a:hover{
	color: purple;
}

.logoGF {
	max-width: 40px;
	border-radius: 50%;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	margin: 1rem;
}

nav ul li a {
	text-decoration: none;
	color: white;
	margin: 0 10px;
}

.title {
	text-align: center;
	font-size: 40px;
	padding-top: 40px;
	position: absolute;
}

.mainPart {
	position: static;
}

main {
	padding-bottom: 200px;
}


footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	height: 3.5rem;
	background-color: white;
	background-size: 100%;
	width: 100%;
	padding-bottom: 0;
	border-top-left-radius: 40%;
	border-top-right-radius: 40%;
	vertical-align: bottom;
}

.sideNav {
	width: 20px; 
	position: fixed; 
	top: 50%;
	 right: 0;
	display: flex;
	 flex-direction: column;
	 align-items: flex-end;
	margin-right: 5px;
}

.sideNav img{
	width: 20px;
}

/*TESTING MEDIA QUERIES 2*/

  
  @media screen and (min-width: 400px) {
	body {
	  background-color: #83b1ee;

	}

	.navBar label, #hamburger { 
		display: none; 
	}
}
  
  @media screen and (min-width: 768px) {
	body {
	  background-color: #debff3;
	}
  }